.classes-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;   
}

.MuiTabs-flexContainer {
  justify-content: space-around;
  background: #2085e0;
}

.MuiSelect-select.MuiSelect-selectMenu {  
  width: 300px;
}

.MuiTab-wrapper {
  color: white;
  font-weight: bold;
}

.form >h1 {
  margin: 80px;
  text-align: center;
  font-size: 70px;
}
